<div id="purchasePopup" class="popup">
    <div class="popup-content">
        <h2>¡Tu compra fue realizada con éxito!</h2>
        <br>
        <p>Código de compra: <span id="ticketCode"></span></p>
        <p>Fecha de compra: <span id="ticketDate"></span></p>
        <p>Monto total: $<span id="ticketAmount"></span></p>
        <p>Comprador: <span id="ticketPurchaser"></span></p>
        <br>
        <button id="closePopup">Cerrar</button>
    </div>
</div>
